  <h2> User Details</h2>
  <div class="row">
    <div class="col-sm-10">
      <table  matSort (matSortChange)="sortData($event)" class="table table-dark table-hover table-striped">
        <thead class="thead-light">
          <th mat-sort-header="id">Id</th>
          <th mat-sort-header="name">Nombre</th>
          <th>Roles</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>
              <div *ngFor="let string of user.roles">
                <span>{{string}}</span>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-danger" (click)="addUser()"> Add User</button>
    </div>
  </div>

